/* footer */

.footer {
    bottom: 0;
}

article {
    margin-top: 40px;
}

.about {
    color: rgba(104, 104, 104, 0.884);
    text-align: center;
}

.name {
    font-family: 'S-CoreDream-3Light';
    font-size: 17px;
}

.end {
    font-size: 17px;
}

.sub {
    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
}

.list-icon {
    font-size: 19px;
}

.list-icon>div {
    font-family: 'S-CoreDream-3Light';
}

.go-to-top {
    background: black;
    float: right;
}

.bottom {
    color: lightgray;
    text-align: center;
    font-family: 'S-CoreDream-3Light';
}

article div a {
    color: red;
}

article div a:hover {
	text-decoration: none;
    color: red;
}