@charset "UTF-8";

.top-img {
	background-image: url(../images/lime.jpg);
	position: relative;
	height: 300px;
	background-size: cover;
}

b {
	font-family: 'IBMPlexSansKR-Regular';
	letter-spacing: 1px;
}

.detail-title {
	font-family: 'IBMPlexSansKR-Regular';
	letter-spacing: 1px;
	margin-top: 30px;
	font-size: 30px;
}

.order_detail {
	font-family: 'IBMPlexSansKR-Light';
	letter-spacing: 1px;
	font-weight: lighter;
	margin-bottom: 40px;
}

.detail-box {
	border: 2px solid #E5E5E5;
	border-radius: 10px;
	margin-top: 20px;
}

.product_img {
	width: 100%;
}

.detail-content {
	width: 70%;
}

.detail-context col {
	font-family: 'IBMPlexSansKR-Light';
	letter-spacing: 1px;
}

.detail-btn {
	border-left: 2px solid #E5E5E5;
}

#detail-btn {
	
}

th,td, .product-detail {
	font-family: 'IBMPlexSansKR-Light';
	letter-spacing: 1px;
}

th {
	width: 200px;
	padding-left: 10px;
}

.about-paytext {
	font-size: 18px;
}

.col-th {
	font-family: 'IBMPlexSansKR-Regular';
}

.col-td {
	font-family: 'IBMPlexSansKR-Light';
	text-align: right;
}