/*상단 이미지*/
.top-img {
	background-image: url(../images/lemons.jpg);
	position: relative;
	height: 300px;
	background-size: cover;
}

.main-title>h1 {
	text-align: right;
	margin-right: 220px;
	padding-top: 130px;
	font-family: 'Eulyoo1945-Regular';
	line-height: 50px;
	letter-spacing: 1px;
}

.payment_title {
	text-align: center;
	font-family: 'IBMPlexSansKR-Regular';
	letter-spacing: 7px;
	font-size: 27px;
	width: 1440px;
	margin-left: 216px;
}

.card-text {
	text-align: center;
	font-family: 'IBMPlexSansKR-Regular';
}

.orderContext {
	display: table;
}

.order-inner {
	display: table-cell;
	text-align: center;
}

.buyTitle {
	text-align: center;
	font-family: 'IBMPlexSansKR-Regular';
	letter-spacing: 3px;
	margin-top: 10px;
}

.buyProductText {
	display: inline-block;
	text-align: center;
	width: 1480px;
}

.buyImg {
	display: inline-block;
	width: 400px;
}

.buyContent {
	display: inline-block;
	width: 250px;
}

.pay_product_img {
	width: 40%;
}

.buyText {
	font-size: 18px;
	font-weight: lighter;
	letter-spacing: 1px;
}