.firstRow{ margin-top: 100px; }

.selectProduct{ width: 100%; height: 80%; }

.cardHaederText{ font-weight: bold; font-size: 36px; }

.secondRow{text-align: center; font-size: 46px;}

/*상단 이미지*/
.top-img {
	background-image: url(../images/lemons.jpg);
	position: relative;
	height: 300px;
	background-size: cover;
}

.main-title>h1 {
	text-align: right;
	margin-right: 220px;
	padding-top: 130px;
	font-family: 'Eulyoo1945-Regular';
	line-height: 50px;
	letter-spacing: 1px;
}

.border-secondary {
	margin-top: 40px;
	padding-left: 50px;
}

.card-header {
	font-family: 'IBMPlexSansKR-Regular';
	font-weight: lighter;
	letter-spacing: 3px;
	font-size: 30px;
}

.card-text {
	font-family: 'IBMPlexSansKR-Regular';
}

.btn-lg {
	font-family: 'IBMPlexSansKR-Regular';
	letter-spacing: 3px;
	background-color: rgba(0,0,0,0);
}

.secondRow {
	margin-top: 50px;
}
