@charset "UTF-8";
/* survey.css */


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
}

/* 테두리 영역 */
#survey-content {
	padding: 120px 10px;
    vertical-align: top;
    /* background-color: ghostwhite; */
    height: 900px;
    background-image: url(../images/lemons-main1.jpg);
    background-size: cover;
}

/* 서베이 전 영역 */
#survey {
    height: 900px;
    color: #333;
    background-color: ghostwhite
}

/* 서베이 네모 겉 틀 */
#survey-inner {
    padding:0 90px;
    text-align: left;
    position: relative;
    margin: 0 auto;
    width: 900px;
}

/* 서베이 네모 틀 */
#survey-start {
    padding: 20px 150px;
    text-align: left;
    position: relative;
    margin: auto;
    width: 800px;
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: 9px 9px 60px 9px lightblue;
}


/* 윗부분 글 */
#start-header {
    line-height: 30px
}

/* x 표시 */
#survey-wrap #survey-content a img {
    margin-top: 4px;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    line-height: 16px;
    color: inherit;
    width: 30px;
    height: 30px;
    text-align: center;
    float: right;
    z-index: -1 !important;
    transform: translate(165px, -50px);

}


/*  렛잇비 로고 */
#start-header {
    position : relative;
    line-height: 40px
}
.logo {
    margin-top: 80px;
    width: 200px;
    height: 90px;
}

/* 윗부분 글 */
#start-header h2 {
    margin-top: 50px;
    margin-bottom: 120px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

/* 이름 */
#brand {
    font-weight: 300 !important
}

/* 작은 글 인트로 */
#start-intro {
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    color: #333;
    position: relative;
    margin-top: 150px;
}

/* 시작버튼 */
#btn-start {
    line-height: 50px;
    background-color: #333;
    border: none;
    color: #fff;
    line-height: 50px;
    border-radius: 25px;
    appearance: none;
    display: inline-block;
    padding: 0 36px;
    min-width: 74px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    margin-top: 90px;
}

/* 밑 주의사항 */
#mention {
    margin-top: 30px;
    font-size: 12px;
    color: #848484;
    display: block;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}